services:
  - type: web
    name: backend-onpe
    runtime: java
    buildCommand: ./mvnw clean package -DskipTests
    startCommand: java -jar target/proyecto-0.0.1-SNAPSHOT.jar --spring.profiles.active=supabase
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: supabase
      - key: PORT
        value: 8080
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: RENIEC_API_TOKEN
        sync: false
